</div>
<a href="javascript:void(0);" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='${webUrl}/statics/plugins/ace_admin/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>
<script src="${webUrl}/statics/plugins/ace_admin/components/bootstrap/dist/js/bootstrap.js"></script>
<!--[if lte IE 8]>
<script src="${webUrl}/statics/plugins/ace_admin/components/ExplorerCanvas/excanvas.js"></script>
<![endif]-->
<script src="${webUrl}/statics/plugins/ace_admin/components/_mod/jquery-ui.custom/jquery-ui.custom.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/components/_mod/easypiechart/jquery.easypiechart.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/components/jquery.sparkline/index.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/components/Flot/jquery.flot.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/components/Flot/jquery.flot.pie.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/components/Flot/jquery.flot.resize.js"></script>
<!-- ace scripts -->
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/elements.scroller.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/elements.colorpicker.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/elements.fileinput.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/elements.typeahead.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/elements.wysiwyg.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/elements.spinner.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/elements.treeview.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/elements.wizard.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/elements.aside.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.basics.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.scrolltop.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.ajax-content.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.touch-drag.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.sidebar.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.sidebar-scroll-1.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.submenu-hover.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.widget-box.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.settings.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.settings-rtl.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.settings-skin.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.widget-on-reload.js"></script>
<script src="${webUrl}/statics/plugins/ace_admin/assets/js/src/ace.searchbox-autocomplete.js"></script>
<script src="${webUrl}/statics/plugins/jquery-easyui/jquery.easyui.min.js"></script>
<script src="${webUrl}/statics/plugins/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="application/javascript">
    var webUrl = '${webUrl}';
</script>
<script src="${webUrl}/statics/js/backend.js"></script>
</body>
</html>