<!DOCTYPE html>
[#include "../../public/common.inc.htm"]
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>${siteName}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="${webUrl}/statics/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="${webUrl}/statics/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="${webUrl}/statics/plugins/ace_admin/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="${webUrl}/statics/plugins/ace_admin/components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="${webUrl}/statics/plugins/ace_admin/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="${webUrl}/statics/plugins/ace_admin/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="${webUrl}/statics/plugins/ace_admin/assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="${webUrl}/statics/plugins/ace_admin/assets/css/ace-skins.css" />
    <link rel="stylesheet" href="${webUrl}/statics/plugins/ace_admin/assets/css/ace-rtl.css" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="${webUrl}/statics/plugins/ace_admin/assets/css/ace-ie.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/plugins/jquery-easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/plugins/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" href="${webUrl}/statics/css/backend.css" />
    <script src="${webUrl}/statics/plugins/ace_admin/assets/js/ace-extra.js"></script>
    <!--[if lte IE 8]>
    <script src="${webUrl}/statics/plugins/ace_admin/components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="${webUrl}/statics/plugins/ace_admin/components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="${webUrl}/" class="navbar-brand"><small><i class="fa fa-leaf"></i> ${siteName}</small></a>
        </div>
        <nav role="navigation" class="navbar-menu pull-left collapse navbar-collapse">
            <ul class="nav navbar-nav" id="platform-menu-top">
                [#list menuTree as menuTop]
                <li class="platform-menu-item[#if menuTop.checked] open[/#if]" data-id="${menuTop.id}">
                    <a href="${menuTop.url}"><i class="${menuTop.icon}"></i> ${menuTop.name} </a>
                </li>
                [/#list]
            </ul>
        </nav>
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="${webUrl}/statics/plugins/ace_admin/assets/avatars/avatar2.png" alt="Jason's Photo" />
                        <span class="user-info"><small>欢迎,</small>${userInfo.name!""}</span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li><a href="${_base_.url('user', 'profile')}"><i class="ace-icon fa fa-user"></i>个人信息</a></li>
                        <li><a href="${_base_.url('user', 'password')}"><i class="ace-icon fa fa-cog"></i>修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="${_base_.url('user', 'logout')}"><i class="ace-icon fa fa-power-off"></i>退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container ace-save-state" id="main-container">
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <div class="sidebar-shortcuts" id="sidebar-collapse">
            <div class="sidebar-toggle sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>
        [#list menuTree as menuTop]
        <ul class="nav nav-list platform-menu-left[#if !menuTop.checked] hide[/#if]" data-parent="${menuTop.id}">
            [#list menuTop.children as menuLeft]
            <li class="platform-menu-item[#if menuLeft.checked] active open[/#if]">
                <a href="${menuLeft.url}" class="[#if menuLeft.children?size > 0]dropdown-toggle[/#if]">
                    <i class="menu-icon ${menuLeft.icon}"></i>
                    <span class="menu-text"> ${menuLeft.name} </span>
                    [#if menuLeft.children?size > 0]<b class="arrow fa fa-angle-down"></b>[/#if]
                </a>
                <b class="arrow"></b>
                [#if menuLeft.children?size > 0]
                <ul class="submenu">
                    [#list menuLeft.children as menuItem]
                    <li class="platform-menu-item[#if menuItem.checked] active[/#if]">
                        <a href="${menuItem.url}"><i class="menu-icon fa fa-caret-right"></i> ${menuItem.name} </a>
                        <b class="arrow"></b>
                    </li>
                    [/#list]
                </ul>
                [/#if]
            </li>
            [/#list]
        </ul>
        [/#list]
    </div>
    <div class="main-content">
        <!--[if !IE]> -->
        <script src="${webUrl}/statics/plugins/ace_admin/components/jquery/dist/jquery.js"></script>
        <!-- <![endif]-->
        <!--[if IE]>
        <script src="${webUrl}/statics/plugins/ace_admin/components/jquery.1x/dist/jquery.js"></script>
        <![endif]-->