[#include "../public/header.htm"]
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="${webUrl}/">主页</a>
            </li>
            <li class="active">计划任务</li>
        </ul>
    </div>
    <div class="page-content-full">
        <table class="page-table-list"></table>
        <div id="toolbar">
            [#if isShutdown]
            <a href="${_base_.url()}?op=start" class="easyui-linkbutton" data-options="plain:true"><span class="glyphicon glyphicon-play">启动</span></a>
            [#else]
            <a href="${_base_.url()}?op=shutdown" class="easyui-linkbutton" data-options="plain:true"><span class="glyphicon glyphicon-stop">停止</span></a>
            [/#if]
            <a href="${_base_.url()}?op=pauseAll" class="easyui-linkbutton" data-options="plain:true"><span class="glyphicon glyphicon-pause">全部暂停</span></a>
            <a href="${_base_.url()}?op=resumeAll" class="easyui-linkbutton" data-options="plain:true"><span class="glyphicon glyphicon-fire">全部恢复</span></a>
            <a href="javascript:void(0);" disabled class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:true">
                [#if !isStarted]
                没有执行过任何调度
                [#elseif empty(lastError) || empty(lastError.message)]
                只有在启动之后才能查看任务列表
                [#else]
                ${lastError.message}
                [/#if]
            </a>
        </div>
    </div>
</div>
<script type="application/javascript">
$(function () {
    $('.page-table-list').datagrid({
        url : '${_base_.url()}?op=list',
        border : false,
        toolbar : '#toolbar',
        rownumbers : true,
        fitColumns : true,
        fit : true,
        nowrap : true,
        singleSelect : true,
        columns:[[
            {field:'triggerName',title:'triggerName'},
            {field:'triggerGroup',title:'triggerGroup'},
            {field:'jobName',title:'jobName'},
            {field:'jobGroup',title:'jobGroup'},
            {field:'cronExpression',title:'cronExpression'},
            {field:'triggerState',title:'triggerState'},
            {field:'description',title:'description'},
            {field:'previousFireTime',title:'previousFireTime',formatter:function (value, row, index) {
                return Web_formatDateTime(value);
            }},
            {field:'nextFireTime',title:'nextFireTime',formatter:function (value, row, index) {
                return Web_formatDateTime(value);
            }},
            {field:'priority',title:'priority'},
            {field:'startTime',title:'startTime',formatter:function (value, row, index) {
                return Web_formatDateTime(value);
            }},
            {field:'endTime',title:'endTime',formatter:function (value, row, index) {
                return Web_formatDateTime(value);
            }},
            {field:'operate',title:'操作',formatter:function (value, row, index) {
                var html = [];
                html.push('<a href="${_base_.url()}?op=delete&triggerName=', row.triggerName, '&triggerGroup=', row.triggerGroup,
                        '" class="page-table-button js-delete-confirm" data-options="iconCls:\'icon-remove\'">删除</a>');
                if('PAUSED' == row.triggerState) {
                    html.push('<a href="${_base_.url()}?op=resume&triggerName=', row.triggerName, '&triggerGroup=', row.triggerGroup,
                            '" class="page-table-button" data-options="plain:true"><span class="glyphicon glyphicon-fire">恢复</span></a>');
                } else {
                    html.push('<a href="${_base_.url()}?op=pause&triggerName=', row.triggerName, '&triggerGroup=', row.triggerGroup,
                            '" class="page-table-button" data-options="plain:true"><span class="glyphicon glyphicon-pause">暂停</span></a>');
                }
                return html.join('');
            }}
        ]],
        onLoadSuccess : function (data) {
            $('.page-table-button').linkbutton({plain : true});
            $(this).datagrid('autoSizeColumn', 'operate');
        }
    });
});
</script>
[#include "../public/footer.htm"]