[#include "../public/header.htm"]
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="${webUrl}/">主页</a>
            </li>
            <li class="active">参数设置</li>
        </ul>
    </div>
    <div class="page-content-full">
        <table class="page-table-list"></table>
        <div id="toolbar">
            <a href="${_base_.url('edit')}" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
            <a href="javascript:void(0);" class="easyui-linkbutton js-control-search" data-options="iconCls:'icon-search',plain:true">搜索</a>
        </div>
    </div>
</div>
<script type="application/javascript">
$(function () {
    $('.page-table-list').datagrid({
        url : '${_base_.url("list")}',
        pagination : true,
        border : false,
        toolbar : '#toolbar',
        rownumbers : true,
        fitColumns : true,
        fit : true,
        nowrap : true,
        singleSelect : true,
        columns:[[
            {field:'type',title:'类型'},
            {field:'parameter',title:'参数名'},
            {field:'name',title:'名称'},
            {field:'content',title:'参数值'},
            {field:'sort',title:'排序'},
            {field:'description',title:'描述'},
            {field:'update_uid',title:'操作者',formatter:function (value, row, index) {
                if(!row.update_uid_info) return '';
                return '[' + row.update_uid_info.username + ']' + row.update_uid_info.name;
            }},
            {field:'update_time',title:'操作时间',formatter:function (value, row, index) {
                return Web_formatDateTime(value);
            }},
            {field:'operate',title:'操作',formatter:function (value, row, index) {
                var html = [];
                html.push('<a href="${_base_.url("edit")}?type=', row.type, '&parameter=', row.parameter,
                        '" class="page-table-button" data-options="iconCls:\'icon-edit\'">修改</a>',
                        '<a href="${_base_.url("delete")}?type=', row.type, '&parameter=', row.parameter,
                        '" class="page-table-button js-delete-confirm" data-options="iconCls:\'icon-remove\'">删除</a>');
                return html.join('');
            }}
        ]],
        onLoadSuccess : function (data) {
            $('.page-table-button').linkbutton({plain : true});
            $(this).datagrid('autoSizeColumn', 'operate');
        }
    });
});
</script>
<div class="hidden">
    <div id="js-search-dialog" style="width:255px;height:298px" data-options="buttons:'#js-search-button',modal:true,resizable:true">
        <form id="searchForm" method="post" action="${_base_.url('index')}">
            <table align="center" class="table-horizontal tr-height25">
                <tr>
                    <th>开始时间</th>
                    <td><input class="easyui-datetimebox width150" type="text" name="timeStart" value="${escapeHtml(qargs.timeStart)}" /></td>
                </tr>
                <tr>
                    <th>结束时间</th>
                    <td><input class="easyui-datetimebox width150" type="text" name="timeEnd" value="${escapeHtml(qargs.timeEnd)}" /></td>
                </tr>
                <tr>
                    <th>类型</th>
                    <td><input class="easyui-textbox width150" type="text" name="type" value="${escapeHtml(qargs.type)}" /></td>
                </tr>
                <tr>
                    <th>参数名</th>
                    <td><input class="easyui-textbox width150" type="text" name="parameter" value="${escapeHtml(qargs.parameter)}" /></td>
                </tr>
                <tr>
                    <th>名称</th>
                    <td><input class="easyui-textbox width150" type="text" name="name" value="${escapeHtml(qargs.name)}" /></td>
                </tr>
                <tr>
                    <th>参数值</th>
                    <td><input class="easyui-textbox width150" type="text" name="content" value="${escapeHtml(qargs.content)}" /></td>
                </tr>
                <tr>
                    <th>描述</th>
                    <td><input class="easyui-textbox width150" type="text" name="description" value="${escapeHtml(qargs.description)}" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="js-search-button">
        <a href="javascript:void(0);" class="easyui-linkbutton js-control-ok" data-options="iconCls:'icon-search'">搜索</a>
        <a href="javascript:void(0);" class="easyui-linkbutton js-control-undo" data-options="iconCls:'icon-undo'">重置</a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var $searchDialog = $('#js-search-dialog');
        $('.js-control-search').bind('click', function () {
            $searchDialog.dialog({
                title : '筛选条件',
                iconCls : 'icon-search'
            });
        });
        $('#js-search-button').find('.js-control-ok').unbind('click.action').bind('click.action' ,function () {
            $('.page-table-list').datagrid('load', $('#searchForm').form('getData'));
            $searchDialog.dialog('close');
        });
        $('#js-search-button').find('.js-control-undo').unbind('click.action').bind('click.action' ,function () {
            $('#searchForm').form('reset');
        });
    });
</script>
[#include "../public/footer.htm"]