**/.idea
**/.classpath
**/.project
**/.gradle
**/.settings
/java/web/flink/plugins/*/
python/east/east_icdar2015_resnet_v1_50_rbox
/python/crnn/output
**/__pycache__
/python/crnn/model
/python/crnn/data/test_images
/python/crnn/data/images
/python/mask-rcnn/model
/python/mask-rcnn/logs
/python/image-classification/data
/python/image-classification/runs
/python/multi-label-image/weights
/python/mtcnn/data
/java/web/admin/src/main/resources/templates/index/index.html
/java/web/admin/src/main/resources/static
/python/spider/files
/python/insightface/model
/docker/.env
/docker/runtime
