**/.idea
**/.classpath
**/.project
**/.gradle
**/.settings
**/*.log
**/__pycache__
**/*.zip
!.gitkeep

/docker/.env
/docker/runtime
/docker/.history
/static/resources/dest/*/

/java/web/flink/plugins/*/
/java/web/admin/src/main/resources/templates/index/index.html
/java/web/admin/src/main/resources/static

/python/east/east_icdar2015_resnet_v1_50_rbox
/python/crnn/output
/python/crnn/model
/python/crnn/data/test_images
/python/crnn/data/images
/python/mask-rcnn/model
/python/mask-rcnn/logs
/python/image-classification/data
/python/image-classification/runs
/python/multi-label-image/weights
/python/mtcnn/data
/python/spider/files
/python/insightface/model
/java/web/xlab/*.jpg
/java/web/xlab/*.ttf
/static/admin/pnpm-lock.yaml
/static/admin/yarn.lock
