/analytics/dest
/demo/analytics-proxy/.project
/demo/analytics-proxy/.gradle
/demo/analytics-proxy/.settings
/demo/analytics-proxy/.classpath
/.idea
/code/.classpath
/code/.project
/code/.gradle
/code/.settings
/code/bin
/code/build
/code/src/main/webapp/.idea
