{{#page.friends}}
<div class="itemdiv memberdiv"><div class="inline pos-rel">
	<div class="user">
		<a href="#">
			<img src="{{{path.assets}}}/avatars/{{{avatar}}}" alt="{{name}}'s avatar">
		</a>
	</div>
	
	<div class="body">
		<div class="name">
			<a href="#">
			<span class="user-status status-{{status}}"></span>
			{{name}}
			</a>
		</div>
	</div>

	<div class="popover"><div class="arrow"></div><div class="popover-content">
		<div class="bolder">{{occupation}}</div>
		<div class="time">
			<i class="ace-icon fa fa-clock-o middle bigger-120 {{#online}}orange{{/online}}{{#offline}}grey{{/offline}}{{#busy}}red{{/busy}}{{#idle}}orange{{/idle}}"></i>
			<span class="{{#online}}green{{/online}}{{#offline}}grey{{/offline}}{{#busy}}grey{{/busy}}">
				{{time}}
			</span>
		</div>
		
		<div class="hr dotted hr-8"></div>
		<div class="tools action-buttons">
			<a href="#"><i class="ace-icon fa fa-facebook-square blue bigger-150"></i></a>
			<a href="#"><i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i></a>
			<a href="#"><i class="ace-icon fa fa-google-plus-square red bigger-150"></i></a>
		</div>
	</div></div>
</div></div>
{{/page.friends}}