<ul class="ace-thumbnails">
  {{#page.photos}}
  <li>
	<a href="#" data-rel="colorbox">
	   <img alt="150x150" src="{{{path.images}}}/gallery/{{thumb}}">
	   <div class="text">
		<div class="inner">{{title}}</div>
	   </div>
	</a>
	<div class="tools tools-bottom">
		<a href="#"><i class="ace-icon fa fa-link"></i></a>
		<a href="#"><i class="ace-icon fa fa-paperclip"></i></a>
		<a href="#"><i class="ace-icon fa fa-pencil"></i></a>
		<a href="#"><i class="ace-icon fa fa-times red"></i></a>
	</div>
  </li>
  {{/page.photos}}
</ul>