{{#page.stats}}
<span class="btn btn-app btn-sm {{btn-color}} no-hover">
	<span class="line-height-1 {{#size}}{{size}}{{/size}}{{^size}}bigger-170{{/size}}{{#color}} {{color}}{{/color}}">
		{{value}}
	</span>
	<br />
	<span class="line-height-1 smaller-90">
		{{name}}
	</span>
</span>
{{/page.stats}}