{{!
<!--
 This is for when you don't want to use tabbed view.
 See views/pages/inbox.mustache
-->
}}
<div class="inbox-folders inbox-folders-responsive">
	<a href="#" class="align-left btn btn-sm btn-block no-border btn-lighter active">
		<i class="ace-icon fa fa-inbox blue bigger-110"></i>
		<span class="bigger-110">Inbox</span>
		<span class="badge badge-primary counter">2</span>
	</a>
	<a href="#" class="align-left btn btn-sm btn-block no-border btn-lighter">
		<i class="ace-icon fa fa-external-link bigger-110"></i>
		<span class="bigger-110">Sent</span>
	</a>
	<a href="#" class="align-left btn btn-sm btn-block no-border btn-lighter">
		<i class="ace-icon fa fa-pencil bigger-110"></i>
		<span class="bigger-110">Drafts</span>
		<span class="badge badge-grey counter">1</span>
	</a>
	<a href="#" class="align-left btn btn-sm btn-block no-border btn-lighter">
		<i class="ace-icon fa fa-trash-o red bigger-110"></i>
		<span class="bigger-110">Trash</span>
	</a>

	<div class="hr hr-10 dotted"></div>

	<a href="#" class="align-left btn btn-sm btn-block no-border btn-lighter">
		<span class="badge badge-pink mail-tag"></span>
		<span class="bigger-110 pink">Tag#1</span>
	</a>		
	<a href="#" class="align-left btn btn-sm btn-block no-border btn-lighter">
		<span class="badge badge-info mail-tag"></span>
		<span class="bigger-110 blue">Family</span>
	</a>
	<a href="#" class="align-left btn btn-sm btn-block no-border btn-lighter">
		<span class="badge badge-success mail-tag"></span>
		<span class="bigger-110 green">Friends</span>
	</a>
	<a href="#" class="align-left btn btn-sm btn-block no-border btn-lighter">
		<span class="badge badge-grey mail-tag"></span>
		<span class="bigger-110 grey">Work</span>
	</a>
</div>