<div class="inline position-relative align-left">
	<button type="button" class="btn-white btn-primary btn btn-xs dropdown-toggle" data-toggle="dropdown">
		<span class="bigger-110">Action</span>
		<i class="ace-icon fa fa-caret-down icon-on-right"></i>
	</button>
	<ul class="dropdown-menu dropdown-lighter dropdown-caret dropdown-125">
		<li><a href="#"><i class="ace-icon fa fa-mail-reply blue"></i>&nbsp; Reply</a></li>
		<li><a href="#"><i class="ace-icon fa fa-mail-forward green"></i>&nbsp; Forward</a></li>
		<li><a href="#"><i class="ace-icon fa fa-folder-open orange"></i>&nbsp; Archive</a></li>
		<li class="divider"></li>
		<li><a href="#"><i class="ace-icon fa fa-eye blue"></i>&nbsp; Mark as read</a></li>
		<li><a href="#"><i class="ace-icon fa fa-eye-slash green"></i>&nbsp; Mark unread</a></li>
		<li><a href="#"><i class="ace-icon fa fa-flag-o red"></i>&nbsp; Flag</a></li>
		<li class="divider"></li>
		<li><a href="#"><i class="ace-icon fa fa-trash-o red bigger-110"></i>&nbsp; Delete</a></li>
	</ul>
</div>

<div class="inline position-relative align-left">
	<button type="button" class="btn-white btn-primary btn btn-xs dropdown-toggle" data-toggle="dropdown">
		<i class="ace-icon fa fa-folder-o bigger-110 blue"></i>
		<span class="bigger-110">Move to</span>
		<i class="ace-icon fa fa-caret-down icon-on-right"></i>
	</button>
	<ul class="dropdown-menu dropdown-lighter dropdown-caret dropdown-125">
		<li><a href="#"><i class="ace-icon fa fa-stop pink2"></i>&nbsp; Tag#1</a></li>
		<li><a href="#"><i class="ace-icon fa fa-stop blue"></i>&nbsp; Family</a></li>
		<li><a href="#"><i class="ace-icon fa fa-stop green"></i>&nbsp; Friends</a></li>
		<li><a href="#"><i class="ace-icon fa fa-stop grey"></i>&nbsp; Work</a></li>
	</ul>
</div>

<button type="button" class="btn btn-xs btn-white btn-primary">
	<i class="ace-icon fa fa-trash-o bigger-125 orange"></i>
	<span class="bigger-110">Delete</span>
</button>
