<!-- #section:pages/inbox.message-footer -->
<div class="message-footer clearfix">
	<div class="pull-left">
		151 messages total
	</div>
	<div class="pull-right">
		<div class="inline middle">
			page 1 of 16
		</div>
		&nbsp; &nbsp;
		<ul class="pagination middle">
			<li class="disabled">
			  <span>
				<i class="ace-icon fa fa-step-backward middle"></i>
			  </span>
			</li>

			<li class="disabled">
			  <span>
				<i class="ace-icon fa fa-caret-left bigger-140 middle"></i>
			  </span>
			</li>

			<li>
			  <span>
				<input value="1" maxlength="3" type="text" />
			  </span>
			</li>

			<li>
			  <a href="#">
				<i class="ace-icon fa fa-caret-right bigger-140 middle"></i>
			  </a>
			</li>

			<li>
			  <a href="#">
				<i class="ace-icon fa fa-step-forward middle"></i>
			  </a>
			</li>
		</ul>
	</div>
</div>

<div class="hide message-footer message-footer-style2 clearfix">
	<div class="pull-left">
		simpler footer
	</div>
	
	<div class="pull-right">
		<div class="inline middle">
			message 1 of 151
		</div>
		&nbsp; &nbsp;
		<ul class="pagination middle">
			<li class="disabled">
			  <span>
				<i class="ace-icon fa fa-angle-left bigger-150"></i>
			  </span>
			</li>
			
			<li>
			  <a href="#">
				<i class="ace-icon fa fa-angle-right bigger-150"></i>
			  </a>
			</li>
		</ul>
	</div>
</div>
<!-- /section:pages/inbox.message-footer -->