<div class="messagebar-item-left">
	<label class="inline middle">
		<input type="checkbox" id="id-toggle-all" class="ace" />
		<span class="lbl"></span>
	</label>

	&nbsp;
	<div class="inline position-relative">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">
			<i class="ace-icon fa fa-caret-down bigger-125 middle"></i>
		</a>

		<ul class="dropdown-menu dropdown-lighter dropdown-100">
			<li><a id="id-select-message-all" href="#">All</a></li>
			<li><a id="id-select-message-none" href="#">None</a></li>
			<li class="divider"></li>
			<li><a id="id-select-message-unread" href="#">Unread</a></li>
			<li><a id="id-select-message-read" href="#">Read</a></li>			  
		</ul>
	</div>
</div>