[#include "../public/header.htm"]
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="${webUrl}/">主页</a>
            </li>
            <li>
                <a href="${_base_.url('index')}">角色管理</a>
            </li>
            <li class="active">权限设置</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <form id="submitForm" method="post" action="${_base_.url()}" class="form-horizontal" role="form">
                    <input type="hidden" name="id" value="${info.id!''}">
                    <div class="form-group">
                        <div class="col-sm-6" style="height: 500px;">
                            <table class="js-list-table-resource"></table>
                            <div id="toolbar-resource"><i class="glyphicon glyphicon-road"></i> 资源权限</div>
                        </div>
                        <div class="col-sm-6" style="height: 500px;">
                            <table class="js-list-table-menu"></table>
                            <div id="toolbar-menu"><i class="glyphicon glyphicon-indent-left"></i> 菜单显示</div>
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-12 center">
                            <button class="btn btn-info" type="button"><i class="ace-icon fa fa-check bigger-110"></i> 提交 </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var $jsListTableResource = $('.js-list-table-resource');
        var $jsListTableMenu = $('.js-list-table-menu');
        $jsListTableResource.treegrid({
            url : '${_base_.url("resource", "list")}?no_refer=1',
            idField : 'id',
            treeField : 'name',
            toolbar : '#toolbar-resource',
            rownumbers : true,
            fitcolumns : true,
            fit : true,
            nowrap : true,
            singleSelect : true,
            checkOnSelect : false,
            selectOnCheck : false,
            loadFilter : function (data,parentId) {
                data = data.rows;
                var levels = ['module', 'controller', 'action', 'operation'];
                var rows = (function generateTree(parent, index) {
                    if(index >= levels.length) return null;
                    var next = index + 1 >= levels.length ? null : (index + 1);
                    var list = [];
                    scan : for (var i in data) {
                        var item = data[i];
                        for (var j = 0; j < index; j++) {
                            if(parent[levels[j]] != item[levels[j]]) continue scan;
                        }
                        if('' == item[levels[index]]) continue;
                        if(next && '' != item[levels[next]]) continue;
                        if(next) item['children'] = generateTree(item, next);
                        list.push(item);
                        delete data[i];
                    }
                    return list;
                })({}, 0);
                for (var i in data) {
                    rows.push(data[i]);
                }
                return rows;
            },
            columns:[[
                {field:'id',checkbox:true},
                {field:'show_id',title:'ID',formatter:function (value, row, index) {
                    return row.id;
                }},
                {field:'name',title:'名称'},
                {field:'status_text',title:'状态'},
                {field:'module',title:'模块'},
                {field:'controller',title:'控制器'},
                {field:'action',title:'活动'},
                {field:'operation',title:'操作'}
            ]],
            onLoadSuccess : function (data) {
                var ids = '${resourceIds}'.split(',');
                for (var key in ids) {
                    if(!Web_empty(ids[key])) $jsListTableResource.treegrid('checkRow', ids[key]);
                }
                $jsListTableResource.treegrid('autoSizeColumn');
            }
        });
        $jsListTableMenu.treegrid({
            url : '${_base_.url("menu", "list")}?ignoreState=1',
            idField : 'id',
            treeField : 'name',
            toolbar : '#toolbar-menu',
            rownumbers : true,
            fitcolumns : true,
            fit : true,
            nowrap : true,
            singleSelect : true,
            checkOnSelect : false,
            selectOnCheck : false,
            columns:[[
                {field:'id',checkbox:true},
                {field:'show_id',title:'ID',formatter:function (value, row, index) {
                    return row.id;
                }},
                {field:'name',title:'名称'},
                {field:'status_text',title:'状态'},
                {field:'module',title:'模块'},
                {field:'url',title:'地址'}
            ]],
            onLoadSuccess : function (data) {
                var ids = '${menuIds}'.split(',');
                for (var key in ids) {
                    if(!Web_empty(ids[key])) $jsListTableMenu.treegrid('checkRow', ids[key]);
                }
                $jsListTableMenu.treegrid('autoSizeColumn');
            }
        });

        $('.btn-info').bind('click', function () {
            $.post('${_base_.url()}', {
                id : '${info.id}',
                resourceIds : Web_getDatagridCheckedIdArray($('.js-list-table-resource'), 'id'),
                menuIds : Web_getDatagridCheckedIdArray($('.js-list-table-menu'), 'id')
            }, function (data) {
                data = Web_parseMessage(data);
                if(0 != data.code) {
                    Web_alertInfo(data.message);
                } else {
                    Web_redirectPage('${_base_.url("index")}');
                }
            });
        });
    });
</script>
[#include "../public/footer.htm"]