#sidebar-collapse .sidebar-toggle{top:7px; border-width:0; background-color:#FAFAFA;}
#navbar-container{padding:0;}
.padding-top-8{padding-top:8px;}
.table-horizontal{text-align: center; margin:0 auto;}
.table-horizontal td{text-align:left;}
.table-line{width:100%; text-align:center; background-color:#cad9ea; font-size:13px;}
.table-line tr{line-height:24px; vertical-align:middle;}
.table-line th{background-color:#f5fafe; text-align:center; font-weight:500;}
.table-line td{background-color:#FFFFFF; padding:2px;}
.td-left td{text-align:left;}
.td-break-word td{word-break:break-all; word-wrap:break-word;}
.tr-height25 tr{height:32px; line-height:25px; vertical-align:middle;}
.td-clear td{padding: 0; margin:0; background-color:inherit;}
