<div class="row">
<div class="col-xs-12 col-sm-10 col-sm-offset-1">

<!-- #section:pages/timeline.style2 -->
<div class="timeline-container timeline-style2">

 <span class="timeline-label">
	<b>Today</b>
 </span>

 <div class="timeline-items">

  <div class="timeline-item clearfix">
	<div class="timeline-info">
		<span class="timeline-date">11:15 pm</span>
		<i class="timeline-indicator btn btn-info no-hover"></i>
	</div>
	
	<div class="widget-box transparent">
		<div class="widget-body"><div class="widget-main no-padding">

			<span class="bigger-110">
				<a href="#" class="purple bolder">Susan</a> reviewed a product
			</span>
			<br />
			<i class="ace-icon fa fa-hand-o-right grey bigger-125"></i> <a href="#">Click to read &hellip;</a>

		</div></div>
	</div>
 </div>





 <div class="timeline-item clearfix">
	<div class="timeline-info">
		<span class="timeline-date">12:30 pm</span>
		<i class="timeline-indicator btn btn-info no-hover"></i>
	</div>
	
	<div class="widget-box transparent">
		<div class="widget-body"><div class="widget-main no-padding">
			Going to <span class="green bolder">veg cafe</span> for lunch
		</div></div>
	</div>
 </div>





 <div class="timeline-item clearfix">
	<div class="timeline-info">
		<span class="timeline-date">11:15 pm</span>
		<i class="timeline-indicator btn btn-info no-hover"></i>
	</div>
	
	<div class="widget-box transparent">
		<div class="widget-body"><div class="widget-main no-padding">
			Designed a new logo for our website. Would appreciate feedback.
			<a href="#">Click to see <i class="ace-icon fa fa-search-plus blue bigger-110"></i></a>
			<div class="space-2"></div>
			<div class="action-buttons">
				<a href="#"><i class="ace-icon fa fa-heart red bigger-125"></i></a>
				<a href="#"><i class="ace-icon fa fa-facebook blue bigger-125"></i></a>
				<a href="#"><i class="ace-icon fa fa-reply light-green bigger-130"></i></a>
			</div>

		</div></div>
	</div>
 </div>




 <div class="timeline-item clearfix">
	<div class="timeline-info">
		<span class="timeline-date">9:00 am</span>
		<i class="timeline-indicator btn btn-info no-hover"></i>
	</div>

	<div class="widget-box transparent">
		<div class="widget-body"><div class="widget-main no-padding">
			Took the final exam. Phew!
		</div></div>
	</div>
 </div>

 </div><!-- /.timeline-items -->
</div><!-- /.timeline-container -->
<!-- /section:pages/timeline.style2 -->



<div class="timeline-container timeline-style2">
 <span class="timeline-label">
	<b>Yesterday</b>
 </span>


 <div class="timeline-items">
 <div class="timeline-item clearfix">
	<div class="timeline-info">
		<span class="timeline-date">9:00 am</span>
		<i class="timeline-indicator btn btn-success no-hover"></i>
	</div>
	
	
	<div class="widget-box transparent">
		<div class="widget-body"><div class="widget-main no-padding">
			<div class="clearfix">
				<div class="pull-left">
					<span class="orange2 bolder">Haloween party</span>
					Lots of fun at Haloween party.
					<br />
					Take a look at some pics:
				</div>
				<div class="pull-right">
					<i class="ace-icon fa fa-chevron-left blue bigger-110"></i>
					&nbsp;
					<img alt="Image 4" width="36" src="{{path.assets}}/images/gallery/thumb-4.jpg" />
					<img alt="Image 3" width="36" src="{{path.assets}}/images/gallery/thumb-3.jpg" />
					<img alt="Image 2" width="36" src="{{path.assets}}/images/gallery/thumb-2.jpg" />
					<img alt="Image 1" width="36" src="{{path.assets}}/images/gallery/thumb-1.jpg" />
					&nbsp;
					<i class="ace-icon fa fa-chevron-right blue bigger-110"></i>
				</div>
			</div>
		</div></div>
	</div>
 </div>
 

 <div class="timeline-item clearfix">
	<div class="timeline-info">
		<span class="timeline-date">9:00 am</span>
		<i class="timeline-indicator btn btn-success no-hover"></i>
	</div>
	
	<div class="widget-box transparent">
		<div class="widget-body"><div class="widget-main no-padding">
			Anim pariatur cliche reprehenderit, enim eiusmod <span class="pink2 bolder">high life</span> accusamus terry richardson ad squid &hellip;
		</div></div>
	</div>
 </div>

 
 <div class="timeline-item clearfix">
	<div class="timeline-info">
		<span class="timeline-date">9:00 am</span>
		<i class="timeline-indicator btn btn-success no-hover"></i>
	</div>
	
	<div class="widget-box transparent">
		<div class="widget-body"><div class="widget-main no-padding">
			Going to cafe for lunch
		</div></div>
	</div>
 </div>


 <div class="timeline-item clearfix">
	<div class="timeline-info">
		<span class="timeline-date">9:00 am</span>
		<i class="timeline-indicator btn btn-success no-hover"></i>
	</div>
	
	<div class="widget-box transparent">
		<div class="widget-body"><div class="widget-main no-padding">
			<span class="red bolder">Critical security patch released</span>
			<br />
			Please download the new patch for maximum security.
		</div></div>
	</div>
 </div>

 </div><!-- /.timeline-items -->
</div><!-- /.timeline-container -->


<div class="timeline-container timeline-style2">
 <span class="timeline-label">
	<b>May 17</b>
 </span>
 
 <div class="timeline-items">

 <div class="timeline-item clearfix">
	<div class="timeline-info">
		<span class="timeline-date">9:00 am</span>
		<i class="timeline-indicator btn btn-grey no-hover"></i>
	</div>
	
	<div class="widget-box transparent">
		<div class="widget-body"><div class="widget-main no-padding">
			<span class="bolder blue">Lorum Ipsum</span>
			Anim pariatur cliche reprehenderit, enim eiusmod <span class="purple bolder">high life</span> accusamus terry richardson ad squid &hellip;
		</div></div>
	</div>
 </div>

 </div><!-- /.timeline-items -->
</div><!-- /.timeline-container -->



</div>
</div>