// 基础样式，可被其他项目或独立页面复用
@use "@/assets/mixin.scss" as *;

html, body, form, div, ul, fieldset, li, table, tr, td, span, em, span, input {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
textarea {
  box-sizing: border-box;
}

.flex-center {
  @include flex-center();
}

.flex-end {
  @include flex-end();
}

.flex-start {
  @include flex-start();
}

.flex-between {
  @include flex-between();
}

.flex-start-column {
  @include flex-start-column();
}

.flex-end-column {
  @include flex-end-column();
}

.flex-column {
  @include flex-column();
}

.flex-row {
  @include flex-row();
}

.flex-wrap {
  @include flex-wrap();
}

.text-wrap {
  @include text-wrap();
}

.multiline-text { white-space: pre-line; }

// https://www.tailwindcss.cn/

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.wh-full {
  width: 100%;
  height: 100%;
}

.wh-screen {
  width: 100vw;
  height: 100vh;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}
