[#include "../public/header.htm"]
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="${webUrl}/">主页</a>
            </li>
            <li>
                <a href="${_base_.url('index')}">参数设置</a>
            </li>
            <li class="active">添加参数</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <form id="submitForm" method="post" action="${_base_.url('save')}" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 类型 </label>
                        <div class="col-sm-9">
                            <input name="type" value="${info.type!''}" data-options="required:true" type="text" placeholder="参数类型" class="col-xs-10 col-sm-5 easyui-validatebox">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 参数名 </label>
                        <div class="col-sm-9">
                            <input name="parameter" value="${info.parameter!''}" data-options="required:true" type="text" placeholder="参数名称" class="col-xs-10 col-sm-5 easyui-validatebox">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 名称 </label>
                        <div class="col-sm-9">
                            <input name="name" value="${info.name!''}" data-options="required:true" type="text" placeholder="参数名称" class="col-xs-10 col-sm-5 easyui-validatebox">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 参数值 </label>
                        <div class="col-sm-9">
                            <textarea name="content" type="text" placeholder="参数值，请勿随意更改" class="col-xs-10 col-sm-5">${info.content!''}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 排序 </label>
                        <div class="col-sm-9">
                            <input name="sort" value="${info.sort!''}" type="number" placeholder="排序值，从小到大">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 描述 </label>
                        <div class="col-sm-9">
                            <textarea name="description" type="text" placeholder="简短介绍下该参数的作用" class="col-xs-10 col-sm-5">${info.description!''}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 操作者 </label>
                        <div class="col-sm-9">
                            [#if !empty(info.update_uid_info)][${info.update_uid_info.username}]${info.update_uid_info.name}[/#if]
                            [#if !empty(info.update_time)](${millisToDateTime(info.update_time)})[/#if]
                            <input name="name" value="${info.type!''}" type="text" placeholder="参数类型" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="button"><i class="ace-icon fa fa-check bigger-110"></i> 提交 </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i> 重置 </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function () {
    var $submitForm = $('#submitForm');
    $submitForm.form({
        success : function (data) {
            data = Web_parseMessage(data);
            if(0 != data.code) {
                Web_alertInfo(data.message);
            } else {
                Web_redirectPage('${_base_.url("index")}');
            }
        }
    });
    $submitForm.find('.btn-info').on('click', function () {
        if($submitForm.form('validate')) $submitForm.form('submit');
    });
});
</script>
[#include "../public/footer.htm"]