[#include "../public/header.htm"]
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="${webUrl}/">主页</a>
            </li>
            <li class="active">参数设置</li>
        </ul>
    </div>
    <div class="page-content-full">
        <table class="page-table-list"></table>
        <div id="toolbar">
            <a href="javascript:void(0);" class="easyui-linkbutton js-control-search" data-options="iconCls:'icon-search',plain:true">搜索</a>
        </div>
    </div>
</div>
<script type="application/javascript">
$(function () {
    $('.page-table-list').datagrid({
        url : '${_base_.url("list")}',
        pagination : true,
        border : false,
        toolbar : '#toolbar',
        rownumbers : true,
        fitColumns : true,
        fit : true,
        nowrap : true,
        singleSelect : true,
        columns:[[
            {field:'type',title:'类型'},
            {field:'parameter',title:'参数名'},
            {field:'name',title:'名称'},
            {field:'content',title:'参数值'},
            {field:'sort',title:'排序'},
            {field:'description',title:'描述'},
            {field:'update_uid',title:'操作者',formatter:function (value, row, index) {
                if(!row.update_uid_info) return '';
                return '[' + row.update_uid_info.username + ']' + row.operate_id_info.name;
            }},
            {field:'update_time',title:'操作时间',formatter:function (value, row, index) {
                return Web_formatDateTime(value);
            }},
            {field:'operate',title:'操作',formatter:function (value, row, index) {
                var html = [];
                html.push('<a href="${_base_.url("edit")}?type=', row.type, '&parameter=', row.parameter,
                        '" class="page-table-button" data-options="iconCls:\'icon-edit\'">修改</a>',
                        '<a href="${_base_.url("delete")}?type=', row.type, '&parameter=', row.parameter,
                        '" class="page-table-button" data-options="iconCls:\'icon-remove\'">删除</a>');
                return html.join('');
            }}
        ]],
        onLoadSuccess : function (data) {
            $('.page-table-button').linkbutton({plain : true});
            $(this).datagrid('autoSizeColumn', 'operate');
        }
    });
});
</script>
[#include "../public/footer.htm"]