<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <title>禁止访问</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="${webUrl}/statics/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="${webUrl}/statics/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/css/error_all.css">
</head>
<body class="error-404">
<div id="doc_main">
    <section class="bd clearfix">
        <div class="module-error">
            <div class="error-main clearfix">
                <div class="label"></div>
                <div class="info">
                    <h3 class="title">啊哦，403了<br>您暂时没有权限访问该页面哦！</h3>
                    <div class="reason">
                        <p>可能的原因：</p>
                        <p>1.您所属的角色没有访问该页面的权限。</p>
                        <p>2.管理员更改了您所属角色的安全等级。</p>
                        <p>3.该页面正在维护，暂时不允许用户访问。</p>
                    </div>
                    <div class="oper">
                        <p><a href="javascript:history.go(-1);">返回上一级页面&gt;</a></p>
                        <p><a href="${webUrl}/">回到网站首页&gt;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body></html>
