<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <title>系统错误</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="${webUrl}/statics/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="${webUrl}/statics/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/css/error_all.css">
</head>
<body class="error-404">
<div id="doc_main">
    <section class="bd clearfix">
        <div class="module-error" style="margin-top: 15px;">
            <div class="error-main clearfix">
                <div class="label"></div>
                <div class="info">
                    <h3 class="title">啊哦，500了<br>您访问的页面出问题了！</h3>
                    <div class="reason">
                        <p>我该怎么办：</p>
                        <p>1.系统可能正在升级，请稍后刷新页面重试。</p>
                        <p>2.联系系统管理员，报告问题并请求技术人员协助。</p>
                    </div>
                    <div class="oper">
                        <p><a href="javascript:history.go(-1);">返回上一级页面&gt;</a></p>
                        <p><a href="${webUrl}/">回到网站首页&gt;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<fieldset>
    <legend>详细信息：</legend>
    <pre>${trace}</pre>
</fieldset>
</body></html>
