DATA_DIR=./runtime

ZOOKEEPER_VERSION=3.5.8
ZOOKEEPER_CLIENT_PORT=127.0.0.1:2181

ELK_VERSION=7.9.3
ELASTICSEARCH_HTTP_PORT=127.0.0.1:9200
ELASTICSEARCH_CLIENT_PORT=127.0.0.1:9300
KIBANA_HTTP_PORT=5601

SCALA_VERSION=2.11
KAFKA_VERSION=2.0.0
KAFKA_LISTEN_PORT=127.0.0.1:9092
KAFKA_MANAGE_VERSION=3.0.0.4
KAFKA_MANAGER_PORT=127.0.0.1:9093

MYSQL_VERSION=5.7.16
MYSQL_PORT=127.0.0.1:3306
MYSQL_ROOT_PASSWORD=admin888

REDIS_VERSION=6.0.9
REDIS_PORT=127.0.0.1:6379

RABBITMQ_VERSION=3.8.9
RABBITMQ_ERLANG_COOKIE=dc-rabbit
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin888
RABBITMQ_SERVER_PORT=127.0.0.1:5672
RABBITMQ_MANAGEMENT_PORT=127.0.0.1:15672
