DATA_DIR=./runtime

BIND_COLON=:
BIND_ADDRESS=127.0.0.1

ZOOKEEPER_VERSION=3.5.8
ZOOKEEPER_CLIENT_PORT=2181

ELK_VERSION=7.9.3
ELASTICSEARCH_HTTP_PORT=9200
ELASTICSEARCH_CLIENT_PORT=9300
KIBANA_HTTP_PORT=5601
FILEBEAT_NGINX_ACCESS=./service/filebeat/logs/nginx-access.log
FILEBEAT_MYSQL_SLOW_QUERY=./service/filebeat/logs/mysql-slow-query.log

SCALA_VERSION=2.12
KAFKA_VERSION=2.5.0
KAFKA_LISTEN_PORT=9092
KAFKA_MANAGE_VERSION=3.0.0.4
KAFKA_MANAGER_PORT=9093

MYSQL_VERSION=5.7.16
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=admin888

MONGO_VERSION=4.4.5
MONGO_PORT=27017
MONGO_USERNAME=root
MONGO_PASSWORD=admin888

REDIS_VERSION=6.0.9
REDIS_PORT=6379

RABBITMQ_VERSION=3.8.9
RABBITMQ_ERLANG_COOKIE=dc-rabbit
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin888
RABBITMQ_SERVER_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

CEPH_VERSION=v4.0.17-stable-4.0-nautilus-centos-7
CEPH_MONITOR_PORT=6789
CEPH_DASHBOARD_PORT=16789

PROMETHEUS_VERSION=v2.24.1
PROMETHEUS_PORT=9090
GRAFANA_VERSION=7.4.0
GRAFANA_PORT=3000

PROMETHEUS_NODE_VERSION=v1.0.1
PROMETHEUS_REDIS_VERSION=v1.16.0
PROMETHEUS_MYSQL_VERSION=v0.12.1
PROMETHEUS_MYSQL_URL=root:admin888@(mysql:3306)/
