DATA_DIR=/data/runtime

BIND_COLON=
BIND_ADDRESS=

ZOOKEEPER_VERSION=3.5.8
ZOOKEEPER_CLIENT_PORT=2181

ELK_VERSION=7.9.3
ELASTICSEARCH_HTTP_PORT=9200
ELASTICSEARCH_CLIENT_PORT=9300
KIBANA_HTTP_PORT=5601
FILEBEAT_NGINX_ACCESS=./service/filebeat/logs/nginx-access.log
FILEBEAT_MYSQL_SLOW_QUERY=./service/filebeat/logs/mysql-slow-query.log

SCALA_VERSION=2.12
KAFKA_VERSION=2.5.1
KAFKA_LISTEN_PORT=9092

KAFDROP_VERSION=3.30.0
KAFDROP_PORT=9093

MYSQL_VERSION=8.0.21
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=admin888

MONGO_VERSION=4.4.5
MONGO_PORT=27017
MONGO_USERNAME=root
MONGO_PASSWORD=admin888

REDIS_VERSION=6.0.9
REDIS_PORT=6379

RABBITMQ_VERSION=3.8.9
RABBITMQ_ERLANG_COOKIE=dc-rabbit
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin888
RABBITMQ_SERVER_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

PROMETHEUS_VERSION=v2.24.1
PROMETHEUS_PORT=9090
GRAFANA_VERSION=7.4.0
GRAFANA_PORT=3000

PROMETHEUS_NODE_VERSION=v1.0.1
PROMETHEUS_REDIS_VERSION=v1.16.0
PROMETHEUS_KAFKA_VERSION=v1.3.2
PROMETHEUS_MYSQL_VERSION=v0.12.1
PROMETHEUS_MYSQL_URL=root:admin888@(mysql:3306)/

OPENRESTY_VERSION=1.19.9.1-centos7
OPENRESTY_PORT=9090

POSTGRES_VERSION=12.10
POSTGRES_PASSWORD=admin888
POSTGRES_PORT=5432

NEO4J_VERSION=4.4.5
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=admin888

MINIO_VERSION=RELEASE.2022-03-24T00-43-44Z
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin888
MINIO_HTTP_PORT=9000
MINIO_CONSOLE_PORT=9001

SUPERSET_VERSION=1.5.1
SUPERSET_HTTP_PORT=8088

CLICKHOUSE_VERSION=22.7.1.2484
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_CLIENT_PORT=9000
CLICKHOUSE_USER=root
CLICKHOUSE_PASSWORD=admin888
