{{#site.demo}}
 <div class="alert alert-info">
   <i class="ace-icon fa fa-hand-o-right"></i> Please note that demo server is not configured to save uploaded files, therefore you may get an error message.
   <button class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
 </div>
{{/site.demo}}
<div>
<form action="{{{path.base}}}/dummy.html" class="dropzone well" id="dropzone">
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
</form>
</div>


<div id="preview-template" class="hide">

    <div class="dz-preview dz-file-preview">
      <div class="dz-image"><img data-dz-thumbnail /></div>

      <div class="dz-details">
        <div class="dz-size"><span data-dz-size></span></div>
        <div class="dz-filename"><span data-dz-name></span></div>
      </div>
      <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>


      <div class="dz-success-mark">
		<span class="fa-stack fa-lg bigger-150">
		  <i class="fa fa-circle fa-stack-2x white"></i>
		  <i class="fa fa-check fa-stack-1x fa-inverse green"></i>
		</span>
      </div>
      <div class="dz-error-mark">
		<span class="fa-stack fa-lg bigger-150">
		  <i class="fa fa-circle fa-stack-2x white"></i>
		  <i class="fa fa-remove fa-stack-1x fa-inverse red"></i>
		</span>
      </div>

    </div>
</div>