<div class="alert alert-block alert-info">
	<button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
	The following sample email templates are converted using the provided email tool which
	converts normal Bootstrap HTML to email friendly table layout with inline CSS!
</div>

<div class="space-12"></div>

<div class="row">
   <div class="col-xs-3">
	   <a href="{{{path.base}}}/build/demo/email-confirmation.html" class="thumbnail" target="_blank">
		 <img class="img-responsive" src="{{{path.images}}}/email1.png" alt="Email Template" />
	   </a>
   </div>
   <div class="col-xs-3">
	   <a href="{{{path.base}}}/build/demo/email-navbar.html" class="thumbnail" target="_blank">
		 <img class="img-responsive" src="{{{path.images}}}/email2.png" alt="Email Template" />
	   </a>
   </div>
   <div class="col-xs-3">
	  <a href="{{{path.base}}}/build/demo/email-newsletter.html" class="thumbnail" target="_blank">
		<img class="img-responsive" src="{{{path.images}}}/email3.png" alt="Email Template" />
	  </a>
   </div>
   <div class="col-xs-3">
	  <a href="{{{path.base}}}/build/demo/email-contrast.html" class="thumbnail" target="_blank">
		<img class="img-responsive" src="{{{path.images}}}/email4.png" alt="Email Template" />
	  </a>
   </div>
</div>


