<div class="center">

	<div class="row">
	 <div class="col-xs-12"><div><span>.col-xs-12</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-1"><div><span>.col-xs-1</span></div></div>
	 <div class="col-xs-11"><div><span>.col-xs-11</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-6 col-sm-2"><div><span>.col-xs-6.col-sm-2</span></div></div>
	 <div class="col-xs-6 col-sm-10"><div><span>.col-xs-6.col-sm-10</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-12 col-lg-6"><div><span>.col-xs-12.col-lg-6</span></div></div>
	 <div class="col-xs-12 col-lg-6"><div><span>.col-xs-12.col-lg-6</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-4"><div><span>.col-xs-4</span></div></div>
	 <div class="col-xs-8"><div><span>.col-xs-8</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-5"><div><span>.col-xs-5</span></div></div>
	 <div class="col-xs-7"><div><span>.col-xs-7</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-6"><div><span>.col-xs-6</span></div></div>
	 <div class="col-xs-6"><div><span>.col-xs-6</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-7"><div><span>.col-xs-7</span></div></div>
	 <div class="col-xs-5"><div><span>.col-xs-5</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-8"><div><span>.col-xs-8</span></div></div>
	 <div class="col-xs-4"><div><span>.col-xs-4</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-9"><div><span>.col-xs-9</span></div></div>
	 <div class="col-xs-3"><div><span>.col-xs-3</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-10"><div><span>.col-xs-10</span></div></div>
	 <div class="col-xs-2"><div><span>.col-xs-2</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-11"><div><span>.col-xs-11</span></div></div>
	 <div class="col-xs-1"><div><span>.col-xs-1</span></div></div>
	</div>

	<div class="row">
	 <div class="col-xs-12"><div><span>.col-xs-12</span></div></div>
	</div>

</div>



