<div class="alert alert-info hidden-sm hidden-xs">
 <button type="button" class="close" data-dismiss="alert">
	<i class="ace-icon fa fa-times"></i>
 </button>
 Please note that <span class="blue bolder">mobile menu</span>
 is visible only when window size is less than <span class="blue bolder">992px</span>
 ,which you can change using CSS builder tool.
</div>

<div class="alert alert-info hidden-md hidden-lg">
 <button type="button" class="close" data-dismiss="alert">
	<i class="ace-icon fa fa-times"></i>
 </button>
 When device is smaller than <span class="blue bolder">992px</span> wide, side menu is hidden and will be visible by clicking on the toggle button.
</div>

<div class="hidden-md hidden-lg">
 <a href="#" class="btn btn-primary btn-white btn-bold" id="id-change-style">
	<i class="ace-icon fa fa-exchange"></i>
	Show older Ace toggle button
 </a>
 
 <div class="space-4"></div>
 
 <div>
  <label>
	Push Content :
	<input type="checkbox" class="ace ace-switch ace-switch-6" id="id-push-content" />
	<span class="lbl middle"></span>	
  </label>
 </div>

 <div class="hr hr-16"></div>
</div>

{{#site.onpage_help}}
 <!-- #section:basics/sidebar.mobile.style1 -->
 <div class="well well-sm">
  <h4 class="lighter no-margin-bottom">
	<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
	<a href="#basics/sidebar.mobile.style1" class="pink btn-display-help">
		Default mobile menu help
	</a>
  </h4>
 </div>
 <!-- /section:basics/sidebar.mobile.style1 -->
{{/site.onpage_help}}
