<!-- #section:plugins/fuelux.treeview -->
<div class="row">

 <div class="col-sm-6">
  <div class="widget-box widget-color-blue2">
	<div class="widget-header">
		<h4 class="widget-title lighter smaller">Choose Categories</h4>
	</div>

	<div class="widget-body">
	 <div class="widget-main padding-8">
		<ul id="tree1"></ul>
	 </div>
	</div>
  </div>
 </div>


 <div class="col-sm-6">
  <div class="widget-box widget-color-green2">
	<div class="widget-header">
		<h4 class="widget-title lighter smaller">Browse Files <span class="smaller-80">(with selectable folders)</span></h4>
	</div>
	
	<div class="widget-body">
	<div class="widget-main padding-8">
		<ul id="tree2"></ul>
	</div>
	</div>
  </div>
 </div>
</div>
<!-- /section:plugins/fuelux.treeview -->
