[#include "../public/header.htm"]
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="${webUrl}/">主页</a>
            </li>
            <li>
                <a href="${_base_.url('index')}">菜单管理</a>
            </li>
            <li class="active">[#if empty(info.id)]信息添加[#else]信息修改[/#if]</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <form id="submitForm" method="post" action="${_base_.url('save')}" class="form-horizontal" role="form">
                    <input type="hidden" name="id" value="${info.id!''}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 父级菜单 </label>
                        <div class="col-sm-9">
                            <input name="parent_id" value="${info.parent_id!0}" type="text" placeholder="父级菜单主键" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 名称 </label>
                        <div class="col-sm-9">
                            <input name="name" value="${info.name!''}" data-options="required:true" type="text" placeholder="菜单名称" class="col-xs-10 col-sm-5 easyui-validatebox">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 模块 </label>
                        <div class="col-sm-9">
                            <input name="module" value="${info.module!''}" type="text" placeholder="所属模块" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 链接地址 </label>
                        <div class="col-sm-9">
                            <input name="url" value="${info.url!''}" type="text" placeholder="链接地址" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 通配符 </label>
                        <div class="col-sm-9">
                            <input name="pattern" value="${info.pattern!''}" type="text" placeholder="通配符，用于高亮菜单项" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 打开方式 </label>
                        <div class="col-sm-9">
                            <input name="target" value="${info.target!''}" type="text" placeholder="链接地址打开方式" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 图标 </label>
                        <div class="col-sm-9">
                            <div class="col-xs-10 col-sm-5 input-group">
                                <input name="icon" value="${info.icon!''}" type="text" placeholder="图标对应的类名称" class="form-control input-mask-date">
                                <span class="input-group-btn">
                                <a href="${_base_.url('icon')}" target="_blank" class="btn btn-sm btn-default"><i class="ace-icon fa fa-calendar bigger-110"></i> 查看图标 </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 展开状态 </label>
                        <div class="col-sm-9">
                            <input name="state" value="${info.state!''}" type="text" placeholder="菜单展开状态，仅为父级菜单时有效" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 状态 </label>
                        <div class="col-sm-9">
                            <select class="col-xs-10 col-sm-5" name="status">
                                [@getMapOption map=statusMap default=info.status!"" tips="请选择记录状态" /]
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 排序 </label>
                        <div class="col-sm-9">
                            <input name="sort" value="${info.sort!''}" type="number" placeholder="排序值，从小到大">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 描述 </label>
                        <div class="col-sm-9">
                            <textarea name="description" type="text" placeholder="简短介绍下该菜单的作用" class="col-xs-10 col-sm-5">${info.description!''}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 创建者 </label>
                        <div class="col-sm-9 padding-top-8">
                            [#if !empty(info.create_uid_info)][${info.create_uid_info.username}]${info.create_uid_info.name}[#else]无[/#if]
                            [#if !empty(info.create_time)](${millisToDateTime(info.create_time)})[/#if]
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 修改者 </label>
                        <div class="col-sm-9 padding-top-8">
                            [#if !empty(info.update_uid_info)][${info.update_uid_info.username}]${info.update_uid_info.name}[#else]无[/#if]
                            [#if !empty(info.update_time)](${millisToDateTime(info.update_time)})[/#if]
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="button"><i class="ace-icon fa fa-check bigger-110"></i> 提交 </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i> 重置 </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function () {
    $('input[name="parent_id"]').combotree({
        url : '${_base_.url("list")}',
        loadFilter : function (data, parent) {
            return Web_formatComboTree(data, [], '默认为顶级菜单', 'name');
        }
    });
    var $submitForm = $('#submitForm');
    $submitForm.form({
        success : function (data) {
            data = Web_parseMessage(data);
            if(0 != data.code) {
                Web_alertInfo(data.message);
            } else {
                Web_redirectPage('${_base_.url("index")}');
            }
        }
    });
    $submitForm.find('.btn-info').on('click', function () {
        if($submitForm.form('validate')) $submitForm.form('submit');
    });
});
</script>
[#include "../public/footer.htm"]