<!DOCTYPE html>
[#include "../public/common.inc.htm"]
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flow Demo</title>
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/plugins/jquery-easyui/themes/bootstrap/easyui.css">
</head>
<body>
<div class="container">

</div>
[#include "../public/resource.js.htm"]
<script src="${webUrl}/statics/js/jquery-1.12.4.js"></script>
<script src="${webUrl}/statics/plugins/jquery-easyui/jquery.easyui.min.js"></script>
<script type="application/javascript">
$(function () {

});
</script>
</body>
</html>