<!doctype html>
[#include "../public/common.inc.htm"]
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flow Demo</title>
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/plugins/jquery-easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/plugins/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/plugins/ace_admin/components/font-awesome/css/font-awesome.css">
    <style type="text/css">
        .layout-north{height:28px;}
        .layout-south{height:22px;padding: 2px;}
        .layout-east{width:280px;}
        .layout-west{width:180px;}
        .layout-center{background:#eee; position: relative;}
        #flow-chart-canvas{width:700px; height:500px; position:relative; margin:auto; background:url("${webUrl}/statics/images/grid.gif");}
        .flow-chart-item{position: absolute;}
    </style>
</head>
<body class="easyui-layout">
    <div class="layout-north" data-options="region:'north'">
        <button class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">保存</button>
    </div>
    <div class="layout-south" data-options="region:'south'">状态信息：</div>
    <div class="layout-east" data-options="region:'east',title:'属性',split:true">
        <table id="flow-property-table" style="width:100%;"></table>
    </div>
    <div class="layout-west" data-options="region:'west',title:'节点',split:true">
        <ul id="flow-nodes-tree"></ul>
    </div>
    <div class="layout-center" data-options="region:'center',title:'流程图',content:''">
        <div id="flow-chart-canvas"></div>
    </div>
[#include "../public/resource.js.htm"]
<script src="${webUrl}/statics/js/jquery-1.12.4.js"></script>
<script src="${webUrl}/statics/plugins/jquery-easyui/jquery.easyui.min.js"></script>
<script src="${webUrl}/statics/plugins/jsplumb/jsplumb.js"></script>
<script type="application/javascript">
jsPlumb.bind("ready", function() {
    function ContextMenu(e, data) {
        this.container = $('body');
        this.container.children('.context-menu, .menu-shadow').remove();
        var _this = this;
        var $contextMenu = $('<div class="context-menu"></div>');
        $contextMenu.menu({
            onHide : function () {
                window.setTimeout(function () {
                    $contextMenu.menu('destroy');
                }, 200);
            }
        });
        for (var index in data) {
            var item = data[index];
            $contextMenu.menu('appendItem', item);
        }
        this.container.append($contextMenu);
        $contextMenu.menu('show', {top: e.pageY, left: e.pageX});
    }
    var flowChartIndex = 0; // 节点索引
    var flowChartData = {}; // 对应节点类型数据
    var flowChartValue = {}; // 对应节点配置数据
    var flowChartLastMouseMoveEvent = null;
    var jsPlumbInstance = jsPlumb.getInstance({
        Endpoint:["Dot", {radius:2}]
    });
    $('.layout-center').on('contextmenu', function () {return false;});
    $('#flow-property-table').propertygrid({showGroup : true,border : false});
    jsPlumbInstance.bind('contextmenu', function (connInfo, originalEvent) {
        if(!(connInfo instanceof jsPlumb.Connection)) return true;
        new ContextMenu(originalEvent, [{
            text : '删除',
            iconCls : 'icon-remove',
            onclick : function () {
                jsPlumbInstance.deleteConnection(connInfo);
            }
        }]);
    });
    $('#flow-chart-canvas').on('contextmenu', '.flow-chart-item', function (e) {
        var $obj = $(this);
        new ContextMenu(e, [{
            text : '删除',
            iconCls : 'icon-remove',
            onclick : function () {
                jsPlumbInstance.removeAllEndpoints($obj);
                $obj.remove();
            }
        }]);
    }).on('click', '.flow-chart-item', function (e) {
        var _this = this;
        var node = flowChartData[this.id];
        var $obj = $(this);
        var propertygrid = $.extend(true, {data:{total:0, rows:[]}}, node.propertygrid || {}, {
            onAfterEdit : function (rowIndex, rowData, changes) {
                flowChartValue[_this.id][rowIndex] = rowData;
                function bindTips(content) {
                    if(!content) content = '暂无备注';
                    $obj.find('.ace-icon').tooltip({
                        position: 'right',
                        content: content.replace(/\n/g, '<br>')
                    });
                    jsPlumbInstance.repaintEverything();
                }
                switch (rowIndex) {
                    case 1 :
                        var value = rowData.value;
                        var content = flowChartValue[_this.id][2] ? flowChartValue[_this.id][2].value : null;
                        if(content) value += '<i class="ace-icon fa fa-comments-o"></i>';
                        $obj.linkbutton({text:value});
                        bindTips(content);
                        break;
                    case 2 :
                        var value = $obj.text();
                        if(flowChartValue[_this.id][1]) value = flowChartValue[_this.id][1].value;
                        if(rowData.value) value += '<i class="ace-icon fa fa-comments-o"></i>';
                        $obj.linkbutton({text:value});
                        bindTips(rowData.value);
                        break;
                }
            }
        });
        propertygrid.data.rows.unshift({"name":"备注","value":"","group":"基础信息","editor":"textarea"});
        propertygrid.data.rows.unshift({"name":"名称","value":$obj.text(),"group":"基础信息","editor":"text"});
        propertygrid.data.rows.unshift({"name":"节点","value":_this.id,"group":"基础信息"});
        if(typeof flowChartValue[_this.id] == "undefined") flowChartValue[_this.id] = {};
        for (var index in flowChartValue[_this.id]) {
            propertygrid.data.rows[index] = flowChartValue[_this.id][index];
        }
        $('#flow-property-table').propertygrid(propertygrid);
    });
    $(window).on('resize', function () {
        window.setTimeout(function () {
            var top = $('.layout-center').height() - $('#flow-chart-canvas').height();
            if(top < 0) top = 0;
            $('#flow-chart-canvas').css({'margin-top':top / 2});
        }, 200);
    }).trigger('resize');
    $('#flow-chart-canvas').on('mousemove', function (e) {
        flowChartLastMouseMoveEvent = e;
    });
    $('#flow-chart-canvas').droppable({
        onDrop : function (e, source) {
            if(!$(source).hasClass('tree-node')) return true;
            var node = $('#flow-nodes-tree').tree('getData', source);
            var id = 'flowChartItem' + flowChartIndex;
            flowChartData[id] = node;
            var $obj = $('<button id="' + id + '" class="flow-chart-item">' + node.text + '[' + flowChartIndex + ']</button>');
            $obj.linkbutton({
                iconCls : node.iconCls
            });
            $(this).append($obj);
            $obj.css({
                top : flowChartLastMouseMoveEvent.offsetY - $obj.height() / 2,
                left : flowChartLastMouseMoveEvent.offsetX - $obj.width() / 2
            });
            jsPlumbInstance.draggable(id, {containment:'#flow-chart-canvas'});
            jsPlumbInstance.addEndpoints(id, [{anchor : "TopCenter"}, {anchor : "RightMiddle"}, {anchor : "BottomCenter"}, {anchor : "LeftMiddle"}], {
                isSource : true,
                isTarget : true,
                maxConnections : -1,
                connectorOverlays: [["Arrow", { width: 10, length: 10, location: 1 }]]
            });
            flowChartIndex++;
        }
    });
    $('#flow-nodes-tree').tree({
        dnd : true,
        proxy:function (source) {
            console.log(source);
            return source;
        },
        onBeforeDrag : function (node) {
            return typeof node.draggable != 'undefined' && node.draggable;
        },
        onBeforeDrop : function (target,source,point) {
            return false;
        },
        data : [{
            "id":1,
            "text":"数据读取",
            "iconCls":"tree-folder",
            "children":[{
                "id":11,
                "text":"读取MySQL",
                "iconCls":"tree-file",
                "draggable" : true,
                "propertygrid" : {
                    data : {"rows":[
                        {"name":"主机","value":"127.0.0.1","group":"连接设置","editor":"text"},
                        {"name":"端口","value":"3306","group":"连接设置","editor":"text"},
                        {"name":"账号","value":"root","group":"连接设置","editor":"text"},
                        {"name":"密码","value":"root","group":"连接设置","editor":"text"},
                        {"name":"数据库","value":"test","group":"连接设置","editor":"text"},
                        {"name":"编码","value":"utf-8","group":"连接设置","editor":"text"},
                        {"name":"SQL","value":"","group":"数据查询","editor":"textarea"},
                    ]}
                }
            }, {
                "id":12,
                "text":"读取MongoDB",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":13,
                "text":"读取Elasticsearch",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":14,
                "text":"读取Redis",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":15,
                "text":"读取HBase",
                "iconCls":"tree-file",
                "draggable" : true
            }]
        }, {
            "id":2,
            "text":"数据计算",
            "iconCls":"tree-folder",
            "children":[{
                "id":21,
                "text":"SparkRDD",
                "iconCls":"tree-folder",
                "state":"closed",
                "children":[{
                    "id":211,
                    "text":"count",
                    "iconCls":"tree-file",
                    "draggable" : true
                }]
            }, {
                "id":22,
                "text":"分组计算",
                "iconCls":"tree-file",
                "draggable" : true
            }]
        }, {
            "id":3,
            "text":"数据写入",
            "iconCls":"tree-folder",
            "children":[{
                "id":31,
                "text":"写入MySQL",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":32,
                "text":"写入MongoDB",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":33,
                "text":"写入Elasticsearch",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":34,
                "text":"写入Redis",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":35,
                "text":"写入HBase",
                "iconCls":"tree-file",
                "draggable" : true
            }]
        }, {
            "id":4,
            "text":"机器学习",
            "iconCls":"tree-folder",
            "state":"closed",
            "children":[{
                "id":41,
                "text":"KNN",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":42,
                "text":"K-Means",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":43,
                "text":"CF",
                "iconCls":"tree-file",
                "draggable" : true
            }]
        }, {
            "id":5,
            "text":"神经网络",
            "iconCls":"tree-folder",
            "state":"closed",
            "children":[{
                "id":51,
                "text":"CNN",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":52,
                "text":"RNN",
                "iconCls":"tree-file",
                "draggable" : true
            }, {
                "id":53,
                "text":"DNN",
                "iconCls":"tree-file",
                "draggable" : true
            }]
        }]
    });
});
</script>
</body>
</html>