<!doctype html>
[#include "../public/common.inc.htm"]
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flow Demo</title>
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/plugins/jquery-easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/plugins/jquery-easyui/themes/icon.css">
    <style type="text/css">
        .layout-north{height:28px;}
        .layout-south{height:22px;padding: 2px;}
        .layout-east{width:280px;}
        .layout-west{width:180px;}
        .layout-center{background:url("${webUrl}/statics/images/grid.gif");}
        #flow-chart-canvas{width: 100%; height: 100%;}
        .flow-chart-item{position: absolute;}
    </style>
</head>
<body class="easyui-layout">
    <div class="layout-north" data-options="region:'north'">
        <button class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">保存</button>
    </div>
    <div class="layout-south" data-options="region:'south'">状态信息：</div>
    <div class="layout-east" data-options="region:'east',title:'属性',split:true">
        <table id="flow-property-table" style="width:100%;"></table>
    </div>
    <div class="layout-west" data-options="region:'west',title:'节点',split:true">
        <ul id="flow-nodes-tree"></ul>
    </div>
    <div class="layout-center" data-options="region:'center',title:'流程图'">
        <div id="flow-chart-canvas"></div>
    </div>
[#include "../public/resource.js.htm"]
<script src="${webUrl}/statics/js/jquery-1.12.4.js"></script>
<script src="${webUrl}/statics/plugins/jquery-easyui/jquery.easyui.min.js"></script>
<script src="${webUrl}/statics/plugins/jsplumb/jsplumb.js"></script>
<script type="application/javascript">
jsPlumb.bind("ready", function() {
    var flowChartIndex = 0;
    var flowChartData = {};
    var jsPlumbInstance = jsPlumb.getInstance({
        Endpoint:["Dot", {radius:2}]
    });
    //jsPlumbInstance.setContainer($('#flow-chart-canvas'));
    $('#flow-chart-canvas').droppable({
        onDrop : function (e, source) {
            if(!$(source).hasClass('tree-node')) return true;
            var node = $('#flow-nodes-tree').tree('getData', source);
            flowChartData[flowChartIndex] = node;
            var id = 'flowChartItem' + flowChartIndex;
            var obj = $('<button id="' + id + '" class="flow-chart-item">' + node.text + '[' + flowChartIndex + ']</button>');
            obj.linkbutton({
                iconCls : node.iconCls
            });
            $(this).append(obj);
            jsPlumbInstance.draggable(id, {containment:'#flow-chart-canvas'});
            jsPlumbInstance.addEndpoints(id, [{anchor : "TopCenter"}, {anchor : "RightMiddle"}, {anchor : "BottomCenter"}, {anchor : "LeftMiddle"}]);
            flowChartIndex++;
        }
    });
    $('#flow-nodes-tree').tree({
        dnd : true,
        proxy:function (source) {
            console.log(source);
            return source;
        },
        onBeforeDrag : function (node) {
            return typeof node.draggable != 'undefined' && node.draggable;
        },
        onBeforeDrop : function (target,source,point) {
            return false;
        },
        data : [{
            "id":1,
            "text":"Folder1",
            "iconCls":"tree-folder",
            "children":[{
                "id":2,
                "text":"File1",
                "iconCls":"tree-file",
                "draggable" : true
            }]
        }]
    });
    $('#flow-property-table').propertygrid({
        border : false,
        data : {"total":4,"rows":[
            {"name":"Name","value":"Bill Smith","group":"ID Settings","editor":"text"},
            {"name":"Address","value":"","group":"ID Settings","editor":"text"},
            {"name":"SSN","value":"123-456-7890","group":"ID Settings","editor":"text"},
            {"name":"Email","value":"bill@gmail.com","group":"Marketing Settings","editor":{
                "type":"validatebox",
                "options":{
                    "validType":"email"
                }
            }}
        ]}
    });
});
</script>
</body>
</html>