<div class="messagebar-item-right">
	<div class="inline position-relative">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">
			Sort &nbsp;<i class="ace-icon fa fa-caret-down bigger-125"></i>
		</a>

		<ul class="dropdown-menu dropdown-lighter dropdown-menu-right dropdown-100">
			<li><a href="#"><i class="ace-icon fa fa-check green"></i> Date </a></li>
			<li><a href="#"><i class="ace-icon fa fa-check invisible"></i> From</a></li>
			<li><a href="#"><i class="ace-icon fa fa-check invisible"></i> Subject</a></li>
		</ul>
	</div>
</div>