[#-- This page can be include only --]
[#-- Setting for FreeMarker  Start --]

[#-- Close default number format behaviour --]
[#setting number_format="#"]

[#-- Setting for FreeMarker  End --]

[#macro getMapOption map default tips=""]
    [#if !empty(tips)]<option value="">${tips}</option>[/#if]
    [#list map?keys as key]
        [#if key == default?string]
        <option value="${key}" selected="selected">${map[key]}</option>
        [#else]
        <option value="${key}">${map[key]}</option>
        [/#if]
    [/#list]
[/#macro]
