spring:
  profiles:
    active: dev,idev
  jpa:
    show-sql: true
    hibernate:
      naming:
        physical-strategy: com.iisquare.fs.web.member.dsconfig.NamingStrategy

server:
  servlet:
    session:
      maxInactiveInterval: 86400
      cookie:
        max-age: 2592000
