<li class="light-blue dropdown-modal{{#page.side_menu_collapsible}} user-min{{/page.side_menu_collapsible}}">
	<a data-toggle="dropdown" href="#" class="dropdown-toggle">
		<img class="nav-user-photo" src="{{path.assets}}/avatars/user.jpg" alt="Jason's Photo" />
		<span class="user-info">
			<small>Welcome,</small> Jason
		</span>
		<i class="ace-icon fa fa-caret-down"></i>
	</a>
	<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
		<li><a href="#"><i class="ace-icon fa fa-cog"></i> Settings</a></li>
		<li><a href="{{^site.ajax}}{{#createLinkFunction}}profile{{/createLinkFunction}}{{/site.ajax}}{{#site.ajax}}{{#createAjaxLinkFunction}}profile{{/createAjaxLinkFunction}}{{/site.ajax}}"><i class="ace-icon fa fa-user"></i> Profile</a></li>
		<li class="divider"></li>
		<li><a href="#"><i class="ace-icon fa fa-power-off"></i> Logout</a></li>
	</ul>
</li>