
<div id="faq-list-3" class="panel-group accordion-style1 accordion-style2">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<a href="#faq-3-1" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
			<i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
			Enim eiusmod high life accusamus terry richardson?
		</a>
	  </div>
	  <div class="panel-collapse collapse" id="faq-3-1">
		<div class="panel-body">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		</div>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
		<a href="#faq-3-2" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
		  Single-origin coffee nulla assumenda shoreditch et?
		</a>
	  </div>
	  <div class="panel-collapse collapse" id="faq-3-2">
		<div class="panel-body">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		</div>
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">
		<a href="#faq-3-3" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
		  Sunt aliqua put a bird on it squid?
		</a>
	  </div>
	  <div class="panel-collapse collapse" id="faq-3-3">
		<div class="panel-body">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		</div>
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">
		<a href="#faq-3-4" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
		  Brunch 3 wolf moon tempor sunt aliqua put?
		</a>
	  </div>
	  <div class="panel-collapse collapse" id="faq-3-4">
		<div class="panel-body">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		</div>
	  </div>
	</div>
	
  </div>
