[#include "../public/header.htm"]
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="${webUrl}/">主页</a>
            </li>
            <li class="active">用户管理</li>
        </ul>
    </div>
    <div class="page-content-full">
        <table class="page-table-list"></table>
        <div id="toolbar">
            <a href="${_base_.url('edit')}" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
            <a href="javascript:void(0);" class="easyui-linkbutton js-control-search" data-options="iconCls:'icon-search',plain:true">搜索</a>
        </div>
    </div>
</div>
<script type="application/javascript">
$(function () {
    $('.page-table-list').datagrid({
        url : '${_base_.url("list")}',
        pagination : true,
        border : false,
        toolbar : '#toolbar',
        rownumbers : true,
        fitColumns : true,
        fit : true,
        nowrap : true,
        singleSelect : true,
        columns:[[
            {field:'id',title:'ID'},
            {field:'name',title:'昵称'},
            {field:'username',title:'账号'},
            {field:'status_text',title:'状态'},
            {field:'sort',title:'排序'},
            {field:'role_info_text',title:'所属角色'},
            {field:'description',title:'描述'},
            {field:'create_uid',title:'创建者',formatter:function (value, row, index) {
                if(!row.create_uid_info) return '';
                return '[' + row.create_uid_info.username + ']' + row.create_uid_info.name;
            }},
            {field:'create_time',title:'创建时间',formatter:function (value, row, index) {
                return Web_formatDateTime(value);
            }},
            {field:'update_uid',title:'修改者',formatter:function (value, row, index) {
                if(!row.update_uid_info) return '';
                return '[' + row.update_uid_info.username + ']' + row.update_uid_info.name;
            }},
            {field:'update_time',title:'修改时间',formatter:function (value, row, index) {
                return Web_formatDateTime(value);
            }},
            {field:'operate',title:'操作',formatter:function (value, row, index) {
                var html = [];
                html.push('<a href="${_base_.url("edit")}?id=', row.id,
                        '" class="page-table-button" data-options="iconCls:\'icon-edit\'">修改</a>');
                html.push('<a href="${_base_.url("delete")}?ids[]=', row.id,
                        '" class="page-table-button js-delete-confirm" data-options="iconCls:\'icon-remove\'">删除</a>');
                html.push('<a href="${_base_.url("permit")}?id=', row.id,
                        '" class="page-table-button" data-options="iconCls:\'icon-lock\'">从属关系</a>');
                return html.join('');
            }}
        ]],
        onLoadSuccess : function (data) {
            $('.page-table-button').linkbutton({plain : true});
            $(this).datagrid('autoSizeColumn', 'operate');
        }
    });
});
</script>
<div class="hidden">
    <div id="js-search-dialog" style="width:392px;height:204px" data-options="buttons:'#js-search-button',modal:true,resizable:true">
        <form id="searchForm" method="post" action="${_base_.url('index')}">
            <table align="center" class="table-horizontal tr-height25">
                <tr>
                    <th>账号</th>
                    <td><input class="easyui-textbox width150" type="text" name="username" value="" /></td>
                    <th>昵称</th>
                    <td><input class="easyui-textbox width150" type="text" name="name" value="" /></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td><input class="easyui-datetimebox width150" type="text" name="timeCreateStart" value="" /></td>
                    <th>～</th>
                    <td><input class="easyui-datetimebox width150" type="text" name="timeCreateEnd" value="" /></td>
                </tr>
                <tr>
                    <th>修改时间</th>
                    <td><input class="easyui-datetimebox width150" type="text" name="timeUpdateStart" value="" /></td>
                    <th>～</th>
                    <td><input class="easyui-datetimebox width150" type="text" name="timeUpdateEnd" value="" /></td>
                </tr>
                <tr>
                    <th>角色</th>
                    <td><input class="easyui-textbox width150" type="text" name="roleIds[]" multiple value="" /></td>
                    <th>状态</th>
                    <td>
                        <select class="easyui-combobox" name="status" data-options="editable:false">
                            [@getMapOption map=statusMap default="" tips="全部" /]
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="js-search-button">
        <a href="javascript:void(0);" class="easyui-linkbutton js-control-ok" data-options="iconCls:'icon-search'">搜索</a>
        <a href="javascript:void(0);" class="easyui-linkbutton js-control-undo" data-options="iconCls:'icon-undo'">重置</a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var $searchDialog = $('#js-search-dialog');
        $('.js-control-search').bind('click', function () {
            $searchDialog.dialog({
                title : '筛选条件',
                iconCls : 'icon-search',
                onOpen : function () {
                    $('input[name="roleIds[]"]').combobox({
                        url : '${_base_.url("role", "list")}',
                        valueField:'id',
                        textField:'name',
                        loadFilter : function (data) {
                            return data.rows;
                        }
                    });
                }
            });
        });
        $('#js-search-button').find('.js-control-ok').unbind('click.action').bind('click.action' ,function () {
            $('.page-table-list').datagrid('load', $('#searchForm').form('getData'));
            $searchDialog.dialog('close');
        });
        $('#js-search-button').find('.js-control-undo').unbind('click.action').bind('click.action' ,function () {
            $('#searchForm').form('reset');
        });

    });
</script>
[#include "../public/footer.htm"]