[#include "../public/header.htm"]
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="${webUrl}/">主页</a>
            </li>
            <li class="active">修改密码</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <form id="submitForm" method="post" action="${_base_.url()}" class="form-horizontal" role="form">
                    <input type="hidden" name="id" value="${info.id!''}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 原密码 </label>
                        <div class="col-sm-9">
                            <input name="passwordOld" value="" data-options="required:true" type="password" placeholder="当前正在使用的密码" class="col-xs-10 col-sm-5 easyui-validatebox">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 新密码 </label>
                        <div class="col-sm-9">
                            <input name="password" value="" data-options="required:true" type="password" placeholder="新密码" class="col-xs-10 col-sm-5 easyui-validatebox">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 确认密码 </label>
                        <div class="col-sm-9">
                            <input name="passwordNew" value="" data-options="required:true" type="password" placeholder="再次确认新密码" class="col-xs-10 col-sm-5 easyui-validatebox">
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="button"><i class="ace-icon fa fa-check bigger-110"></i> 提交 </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i> 重置 </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function () {
    var $submitForm = $('#submitForm');
    $submitForm.form({
        success : function (data) {
            data = Web_parseMessage(data);
            if(0 != data.code) {
                Web_alertInfo(data.message);
            } else {
                Web_redirectPage('${_base_.url("logout")}');
            }
        }
    });
    $submitForm.find('.btn-info').on('click', function () {
        if($submitForm.form('validate')) $submitForm.form('submit');
    });
});
</script>
[#include "../public/footer.htm"]