<!doctype html>
[#include "../public/common.inc.htm"]
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flow Demo</title>
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/plugins/jquery-easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="${webUrl}/statics/css/jsplumbtoolkit-demo.css">
</head>
<body class="jtk-bootstrap jtk-bootstrap-wide">
<div class="jtk-demo-main">
    <div class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas">
        <div class="window jtk-node" id="flowchartWindow1"><strong>1</strong><br/><br/></div>
        <div class="window jtk-node" id="flowchartWindow2"><strong>2</strong><br/><br/></div>
        <div class="window jtk-node" id="flowchartWindow3"><strong>3</strong><br/><br/></div>
        <div class="window jtk-node" id="flowchartWindow4"><strong>4</strong><br/><br/></div>
    </div>
</div>
[#include "../public/resource.js.htm"]
<script src="${webUrl}/statics/js/jquery-1.12.4.js"></script>
<script src="${webUrl}/statics/plugins/jquery-easyui/jquery.easyui.min.js"></script>
<script src="${webUrl}/statics/plugins/jsplumb/jsplumb.js"></script>
<script type="application/javascript">
jsPlumb.bind("ready", function() {
    var firstInstance = jsPlumb.getInstance();
    firstInstance.importDefaults({
        Connector : [ "Bezier", { curviness: 150 } ],
        Anchors : [ "TopCenter", "BottomCenter" ]
    });

    firstInstance.connect({
        source:"flowchartWindow1",
        target:"flowchartWindow2",
        scope:"someScope"
    });
    var secondInstance = jsPlumb.getInstance({
        PaintStyle:{
            strokeWidth:6,
            stroke:"#567567",
            outlineStroke:"black",
            outlineWidth:1
        },
        Connector:[ "Bezier", { curviness: 30 } ],
        Endpoint:[ "Dot", { radius:5 } ],
        EndpointStyle : { fill: "#567567"  },
        Anchor : [ 0.5, 0.5, 1, 1 ]
    });
    secondInstance.connect({
        source:"flowchartWindow4",
        target:"flowchartWindow3",
        scope:"someScope"
    });
});
</script>
</body>
</html>