<div id="tabs">
  <ul>
	<li><a href="#tabs-1">Nunc tincidunt</a></li>
	<li><a href="#tabs-2">Proin dolor</a></li>
	<li><a href="#tabs-3">Aenean lacinia</a></li>
  </ul>

  <div id="tabs-1">
	<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Duis orci. Aliquam sodales tortor vitae ipsum. Ut et mauris vel pede varius sollicitudin.</p>
  </div>
  
  <div id="tabs-2">
	<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla..</p>
  </div>
  <div id="tabs-3">
	<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Praesent eu risus hendrerit ligula tempus pretium.</p>
  </div>
</div>