<!-- basic scripts -->
{{> layout._template.jquery}}

<!-- inline scripts related to this page -->
{{#page.inline_scripts}}
<script type="text/javascript">
{{{page.inline_scripts}}}
</script>
{{/page.inline_scripts}}
