[mysqld]
server-id=1
log-bin=mysql-bin
binlog_format=ROW
binlog_expire_logs_seconds=604800
transaction-isolation=READ-COMMITTED
default-time-zone='+8:00'

binlog-ignore-db=canal-admin
binlog-ignore-db=canal-tsdb
binlog-ignore-db=information_schema
binlog-ignore-db=fs-project
binlog-ignore-db=mysql
binlog-ignore-db=performance_schema
binlog-ignore-db=sys
binlog-ignore-db=test
# binlog-do-db=fix-db

sync_binlog=100
innodb_flush_log_at_trx_commit=2

wait_timeout=28800
interactive_timeout=28800
net_read_timeout=30
net_write_timeout=60
lock_wait_timeout=60
max_connections=2000
long_query_time=2
slow-query-log=on
log_queries_not_using_indexes=0
slow-query-log-file=/var/lib/mysql/slow-query.log
log-queries-not-using-indexes
