<div class="row">
	<div class="col-sm-9">
		<div class="space"></div>
		<!-- #section:plugins/data-time.calendar -->
		<div id='calendar'></div>
		<!-- /section:plugins/data-time.calendar -->
	</div>

	<div class="col-sm-3">
		<div class="widget-box transparent">
			<div class="widget-header">
				<h4>Draggable events</h4>
			</div>
			<div class="widget-body">
			 <div class="widget-main no-padding">
				<div id='external-events'>
					<div class='external-event label-grey' data-class="label-grey"><i class="ace-icon fa fa-arrows"></i> My Event 1</div>
					<div class='external-event label-success' data-class="label-success"><i class="ace-icon fa fa-arrows"></i> My Event 2</div>
					<div class='external-event label-danger' data-class="label-danger"><i class="ace-icon fa fa-arrows"></i> My Event 3</div>
					<div class='external-event label-purple' data-class="label-purple"><i class="ace-icon fa fa-arrows"></i> My Event 4</div>
					<div class='external-event label-yellow' data-class="label-yellow"><i class="ace-icon fa fa-arrows"></i> My Event 5</div>
					<div class='external-event label-pink' data-class="label-pink"><i class="ace-icon fa fa-arrows"></i> My Event 6</div>
					<div class='external-event label-info' data-class="label-info"><i class="ace-icon fa fa-arrows"></i> My Event 7</div>
					<label>
						<input type='checkbox' class="ace ace-checkbox" id='drop-remove' /> <span class="lbl"> Remove after drop</span>
					</label>
				</div>
			 </div>
			</div>
		</div>
	</div>
</div>
