{{#site.demo}}
 <div class="alert alert-info">
   <button class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
   <i class="ace-icon fa fa-hand-o-right"></i> Please note that demo server is not configured to save the changes, therefore you may see an error message.
 </div>
{{/site.demo}}
{{^site.demo}}
<div class="well well-sm">
	You can have a custom jqGrid download here:
	<a href="http://www.trirand.com/blog/?page_id=6" target="_blank">		
		http://www.trirand.com/blog/?page_id=6
		<i class="fa fa-external-link bigger-110"></i>
	</a>
</div>
{{/site.demo}}


<table id="grid-table"></table>
<div id="grid-pager"></div>
