<div class="alert alert-info hidden-sm hidden-xs">
 <button type="button" class="close" data-dismiss="alert">
	<i class="ace-icon fa fa-times"></i>
 </button>
 Please note that <span class="blue bolder">mobile menu</span>
 is visible only when window size is less than <span class="blue bolder">992px</span>
 ,which you can change using CSS builder tool.
</div>

<div class="alert alert-info hidden-md hidden-lg">
 <button type="button" class="close" data-dismiss="alert">
	<i class="ace-icon fa fa-times"></i>
 </button>
 When device is smaller than <span class="blue bolder">992px</span> wide, side menu is automatically minimized.
</div>


{{#site.onpage_help}}
 <!-- #section:basics/sidebar.mobile.style2 -->
 <div class="well well-sm">
  <h4 class="lighter no-margin-bottom">
	<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
	<a href="#basics/sidebar.mobile.style2" class="pink btn-display-help">
		Minimized mobile menu help
	</a>
  </h4>
 </div>
 <!-- /section:basics/sidebar.mobile.style2 -->
{{/site.onpage_help}}