<div class="clearfix">
	<div class="pull-right">
		<span class="green middle bolder">Choose result page type: &nbsp;</span>
		<div class="btn-toolbar inline middle no-margin">
			<div id="toggle-result-page" data-toggle="buttons" class="btn-group no-margin">
				<label class="btn btn-sm btn-yellow active">
					<span class="bigger-110">1</span>
					<input type="radio" value="1" />
				</label>
				<label class="btn btn-sm btn-yellow">
					<span class="bigger-110">2</span>
					<input type="radio" value="2" />
				</label>
			</div>
		</div>
	</div>
</div>

<div class="hr dotted"></div>

<div>
	{{> page.style_1}}
</div>

<div class="hide">
	{{> page.style_2}}
</div>


