<div class="align-right">
	<span class="green middle bolder">Choose timeline: &nbsp;</span>
	<div class="btn-toolbar inline middle no-margin">
		<div data-toggle="buttons" class="btn-group no-margin">
			<label class="btn btn-sm btn-yellow active">
				<span class="bigger-110">1</span>
				<input type="radio" value="1" />
			</label>
			<label class="btn btn-sm btn-yellow">
				<span class="bigger-110">2</span>
				<input type="radio" value="2" />
			</label>
		</div>
	</div>
</div>


<div id="timeline-1">
 {{> page.style_1}}
</div>


<div id="timeline-2" class="hide">
 {{> page.style_2}}
</div>
