:deep(.fs-txt) {
  width: 100%;
  word-wrap: break-word;
}

:deep(.fs-html) {
  width: 100%;
}

:deep(.fs-inline) {
  flex-direction: row;
}

:deep(.fs-block) {
  display: flex;
  flex-direction: column;
  align-items: start;
}
