{{#site.remote_fonts}}
 <link rel="stylesheet" href="{{{site.protocol}}}//fonts.googleapis.com/css?family=Open+Sans:400,300" />
{{/site.remote_fonts}}
{{^site.remote_fonts}}
 <link rel="stylesheet" href="{{{path.assets}}}/css/ace-fonts.css" />
{{/site.remote_fonts}}