<!-- basic scripts -->
{{> layout._template.jquery}}
{{> layout._template.bootstrap}}

<!-- page specific plugin scripts -->
{{!put IE only scripts here, currently we only use ExCanvas.js from time to time}}
{{#page.ie_scripts}}
<!--[if lte IE {{version}}]>
  <script src="{{{path.base}}}/{{{file_name}}}"></script>
<![endif]-->
{{/page.ie_scripts}}

{{#page.scripts}}
<script src="{{{path.base}}}/{{{.}}}"></script>
{{/page.scripts}}


<!-- ace scripts -->
{{^site.development}}{{! in production mode use ace-elements.js and ace.js script file }}
 <script src="{{{path.assets}}}/js/ace-elements{{{path.minified}}}.js"></script>
 <script src="{{{path.assets}}}/js/ace{{{path.minified}}}.js"></script>
{{/site.development}}

{{#site.development}}{{! in development mode use separate script files }}
 {{#site.ace_scripts}}
  <script src="{{{path.assets}}}/js/src/{{{.}}}"></script>
 {{/site.ace_scripts}}
{{/site.development}}


<!-- inline scripts related to this page -->
{{#page.inline_scripts}}
<script type="text/javascript">
{{{page.inline_scripts}}}
</script>
{{/page.inline_scripts}}


{{#site.onpage_help}}{{! enable on page help }}
  <!-- the following scripts are used in demo only for onpage help and you don't need them -->
  <link rel="stylesheet" href="{{{path.assets}}}/css/ace.onpage-help.css" />
  <link rel="stylesheet" href="{{{path.base}}}/docs/assets/js/themes/sunburst.css" />

  <script type="text/javascript">ace.vars['base'] = '{{{path.base}}}';</script>
  <script src="{{{path.assets}}}/js/src/elements.onpage-help.js"></script>
  <script src="{{{path.assets}}}/js/src/ace.onpage-help.js"></script>
  <script src="{{{path.base}}}/docs/assets/js/rainbow.js"></script>
  <script src="{{{path.base}}}/docs/assets/js/language/generic.js"></script>
  <script src="{{{path.base}}}/docs/assets/js/language/html.js"></script>
  <script src="{{{path.base}}}/docs/assets/js/language/css.js"></script>  
  <script src="{{{path.base}}}/docs/assets/js/language/javascript.js"></script>
{{/site.onpage_help}}