/.idea
/.gradle
/**/build
/**/out
/gradlew
/gradle/
/gradlew.bat

/web/xlab/libs/x64/
/web/xlab/libs/x86/
/web/xlab/libs/*.jar
/web/xlab/libs/*.so
/web/xlab/libs/*.dll
/web/file/uploads
/web/flink/plugins/*/
/web/admin/src/main/resources/templates/index/index.html
/web/admin/src/main/resources/static

/app/flink/checkpoints/**/
