
<div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<a href="#faq-1-1" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
		  <i class="ace-icon fa fa-user bigger-130"></i> &nbsp; High life accusamus terry richardson ad squid?
		</a>
	  </div>
	  <div class="panel-collapse collapse" id="faq-1-1">
		<div class="panel-body">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
		</div>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
		<a href="#faq-1-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
		  <i class="ace-icon fa fa-sort-amount-desc"></i> &nbsp; Can I have nested questions?
		</a>
	  </div>
	  
	  <div class="panel-collapse collapse" id="faq-1-2">
		<div class="panel-body">

				<div id="faq-list-nested-1" class="panel-group accordion-style1 accordion-style2">
					<div class="panel panel-default">
					  <div class="panel-heading">
						<a href="#faq-list-1-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
						   <i class="ace-icon fa fa-plus smaller-80 middle" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
						   Enim eiusmod high life accusamus terry?
						</a>
					  </div>
					  <div class="panel-collapse collapse" id="faq-list-1-sub-1">
						<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
						</div>
					  </div>
					</div>
					
					<div class="panel panel-default">
					  <div class="panel-heading">
						<a href="#faq-list-1-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
						  <i class="ace-icon fa fa-plus smaller-80 middle" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
						  Food truck quinoa nesciunt laborum eiusmod?
						</a>
					  </div>
					  <div class="panel-collapse collapse" id="faq-list-1-sub-2">
						<div class="panel-body">
						  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
						</div>
					  </div>
					</div>
					
					<div class="panel panel-default">
					  <div class="panel-heading">
						<a href="#faq-list-1-sub-3" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
						  <i class="ace-icon fa fa-plus smaller-80 middle" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
						  Cupidatat skateboard dolor brunch?
						</a>
					  </div>
					  <div class="panel-collapse collapse" id="faq-list-1-sub-3">
						<div class="panel-body">
						  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
						</div>
					  </div>
					</div>
				</div>

		</div>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
		<a href="#faq-1-3" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
		  <i class="ace-icon fa fa-credit-card bigger-130"></i> &nbsp; Single-origin coffee nulla assumenda shoreditch et?
		</a>
	  </div>
	  <div class="panel-collapse collapse" id="faq-1-3">
		<div class="panel-body">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		</div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
		<a href="#faq-1-4" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
		  <i class="ace-icon fa fa-files-o bigger-130"></i> &nbsp; Sunt aliqua put a bird on it squid?
		</a>
	  </div>
	  <div class="panel-collapse collapse" id="faq-1-4">
		<div class="panel-body">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		</div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
		<a href="#faq-1-5" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
		  <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
		  <i class="ace-icon fa fa-cog bigger-130"></i> &nbsp; Brunch 3 wolf moon tempor sunt aliqua put?
		</a>
	  </div>
	  <div class="panel-collapse collapse" id="faq-1-5">
		<div class="panel-body">
		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		</div>
	  </div>
	</div>
	
  </div>
